<p style="color: green"><%= notice %></p>

<%= render @department %>

<h2>List of Laboratories: </h2>

<table style="width:50%">


  <thead>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Location</strong></td>
    </tr>
  </thead>
  <tbody style="width:100%">
    <%@department.laboratories.each do |laboratory|%>
      <tr>
        <td><%= laboratory.name%></td>
        <td><%= laboratory.location%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>

  <%= button_to "Destroy this department", @department, method: :delete %>
</div>
